<h1><%= @library.name %></h1>
<p>Floors: <%= @library.floor_count %></p>
<p>Area: <%= @library.floor_area %> sq ft</p>
<% if current_user %>
  <%= button_to "Join", library_users_path(@library) %>
<% end %>

<%= link_to "Go back to Libraries Index", libraries_path %>
